<header>
    <a class="home-link" href="/">
        <img src="/images/logo.png" class="logo" alt="logo"/>
        <span>ventory</span>
    </a>
    <button 
        class="menu-button open-button" 
        aria-label="Open Menu" 
        aria-controls="mainNav" 
        aria-expanded="false"
    >
        <div></div>
        <div></div>
        <div></div>       
    </button> 
    <%- include("navbar") %>
    <%- include("search") %>   
</header>