<nav class="navbar">    
        <a class="home-link" href="/">
            <img src="" alt="logo"/>
            inventory
        </a>     
        <ul>              
            <li>
                <a href="/products">Products</a>
            </li>
            <li>
                <a href="/categories">Categories</a>
            </li>
        </ul>
        <form action="/products/search" method="POST">
            <input            
                type="search"
                placeholder="Search products"               
                name="search"
            />
            <button type="submit">Search</button>
        </form>       
        <!-- <button class="navbar-toggle-button">
            <span>|||</span>
        </button>    -->
</nav>