<nav class="navbar">     
        <ul id="mainNav" class="main-menu">              
            <li class="nav-item">
                <a href="/products" class="<%= path.startsWith('/products') ? 'active' : '' %>">Products</a>
            </li>
            <li class="nav-item">
                <a href="/categories" class="<%= path.startsWith('/categories') ? 'active' : '' %>">Categories</a>
            </li>
        </ul>
       
        <!-- <button class="navbar-toggle-button">
            <span>|||</span>
        </button>    -->
</nav>