@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows:auto 1fr auto;
    font-family: "Raleway";  
    margin: 0;
    padding: 0;    
}

a {
    text-decoration: none; 
    color: black; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h4, p {
    margin: 0;
}

html {    
    background: url("../images/background-image.jpg") no-repeat right bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    min-height: 50px;
    padding: 1rem 0;
    margin: 0 2rem; 
}

.navbar {   
    display: flex;
    align-items: center;
    justify-content:space-between
}

.navbar ul {   
    display: flex;
    gap: 2rem;
}

main {
    margin: 5rem 2rem;   
}

.add-product-link,
.add-category-link {
    display: block;
    position: absolute;
    top: -3rem;
    right: 0;
    outline: 0;
    border: 0;
    background: none;
    border: 1px solid #d9d9d9;
    padding: .5rem 0;          
    color: #515151;
    text-transform: uppercase;
    text-align: center;
    width: 9rem;
    font-family: inherit; 
    transition: all 0.3s ease;
    font-weight: 500;

    &:hover {                
        border: 1px solid #aedaa6;
        color: #aedaa6;       
    }
}

/*-----------PRODUCTS-----------*/

.products-container {
    display: grid;
    grid-template-columns: auto 1fr;
}

.products-list {
    position: relative;
    display: grid;   
    gap: 1rem;      
}

.products-list li { 
    display: grid; 
    grid-template-columns: auto 1fr 9rem;    
    background: rgb(251, 251, 251);
    padding: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s;

     &:hover {      
        box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);    
    }

    .image-container {
        margin-right: 1rem;
        width: 4rem;

        img {
            width: 100%;
            height: 100%;        
        }
    }
    
    .middle-div {
        display: grid;
        grid-template-rows: auto 1fr auto;
        padding-right: 1.5rem;       
    }

    .right-div {
        display: grid;
        justify-content: end;
        align-content: space-between ;
    }

    h1 {
        color: #515151;
        font-weight: 300;       
        font-size: 1.2rem;
        font-weight: 300;
    }

    h2 {
        color: #515151;          
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 500;      
        border-bottom: 1px solid #efefef;
    }

    h4 { 
        justify-self: end;
        margin: 0;
        color: #727272;          
        font-weight: 500;
        font-size: .75rem;       
    }

    p { 
        font-size: .75rem; 
        line-height: 1.25rem;
        color: #727272;       
    }
}

/*--------PRODUCT DETAILS-------*/
  
.card {    
    background: rgb(251, 251, 251);    
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s;

    &:hover {      
        box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);    
    }

    .nav-div {
        width: 100%;
        text-transform: uppercase;
        padding: 1.2rem;
        border-bottom: 2px solid #efefef;
        font-size: .75rem;      

        svg.arrow {
            float: left;
            height: 1rem;
            width: 1rem;
            margin-top: -1px;
            margin-right: 10px;
        }
    }

    a {
        color: #727272;

        &:hover {          
            color: rgb(50, 49, 49);                     
        }
    }

    .image-container {
        padding: 1.8rem;       
        text-align: center;

        img { 
            max-height: 15rem; 
        }
    }

    .description {
        padding: 1.8rem;        
        border-left: 2px solid #efefef;

        h1 {
            color: #515151;
            font-weight: 300;
            padding: 1rem 0;           
            font-size: 1.8rem;
            font-weight: 300;
        }

        h2 {
            color: #515151;          
            text-transform: uppercase;
            font-weight: 500;
        }

        h4 { 
            margin: 0;
            color: #727272;          
            font-weight: 500;
            font-size: .75rem;
        }

        p { 
            font-size: .75rem; 
            line-height: 1.2rem;
            color: #727272;
            margin-bottom: 1rem;
        }

        .buttons-container {
            display: flex;
            justify-content: space-between;           
        }

        button {
            cursor: pointer;
            outline: 0;
            border: 0;
            background: none;
            border: 1px solid #d9d9d9;
            padding: .5rem 0;          
            color: #515151;
            text-transform: uppercase;
            width: 7.8rem;
            font-family: inherit;
            margin-right: .3rem;
            transition: all 0.3s ease;
            font-weight: 500;

            &:hover {                
                border: 1px solid #aedaa6;
                color: #aedaa6;              
            }
        }
    }
}

/*-----------NEW PRODUCT-----------*/

.add-product-container {
    position: relative;
    padding: 2rem 1rem;
    background: rgb(251, 251, 251);    
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    h1 {
        position: absolute;
        padding: 0;
        top: -3rem;
        color: #515151;
        font-weight: 300;                   
        font-size: 1.8rem;
        font-weight: 300;
    }

    .add-product-form {  

        input,
        textarea,
        select {
            width: 100%;
            border: 1px solid #c3c2c2;
            padding: .4rem;
            line-height: 1.2rem;
            margin-bottom: 1.4rem;
            background-color: white;
        }       

        .form-group {
            position: relative;
        }

        .form-group label {
            position:absolute;
            top:-1rem;
            left:.4rem;
            font-size: .75rem;            
        }

        div {
            display: flex;
            width: 100%;
            gap: 1rem;
        }   
    }

    .buttons-container {
        display: flex; 
        justify-content: space-between;      

        button {
            cursor: pointer;
            outline: 0;
            border: 0;
            background: none;
            border: 1px solid #d9d9d9;
            padding: .5rem 0;          
            color: #515151;
            text-transform: uppercase;
            width: 7.8rem;
            font-family: inherit;
            margin-right: .3rem;
            transition: all 0.3s ease;
            font-weight: 500;

            &:hover {                
                border: 1px solid #aedaa6;
                color: #aedaa6;             
            }
        }
    }
}

/*-----------FILTER DESKTOP-----------*/

.filter {
    width: 12rem;

        h2 {
            color: #515151;          
            text-transform: uppercase;
            font-size: .8rem;
            font-weight: 500;           
            margin-bottom: 1rem;
        }    
}

/*-----------CATEGORIES-----------*/

.categories-list {
    position: relative;
    display: grid;   
    gap: 1rem;      
}

.categories-list li { 
    display: grid; 
    grid-template-columns: 1fr auto;  
    background: rgb(251, 251, 251);
    padding: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s;

     &:hover {      
        box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);    
    }   

    h2 {
        color: #515151;          
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 500;      
        border-bottom: 1px solid #efefef;
        margin-bottom: 1rem;
    }   

    p { 
        font-size: .75rem; 
        line-height: 1.25rem;
        color: #727272;       
    }

    .buttons-container {
        display: flex;           
    }

    button {
        cursor: pointer;
        outline: 0;
        border: 0;
        background: none;
        border: 1px solid #d9d9d9;
        padding: .5rem 0;          
        color: #515151;
        text-transform: uppercase;        
        font-family: inherit;
        margin-left: 1rem;
        transition: all 0.3s ease;
        font-weight: 500;

        &:hover {                
            border: 1px solid #aedaa6;
            color: #aedaa6;
            
        }
    }
}

/*--------FOOTER-------*/

footer {
    text-align: center;
    min-height: 50px;
}

/*----------------MEDIA DESKTOP---------------*/

@media (min-width: 768px) {
    .card,
    .add-product-container {
        width: 40rem;
        height: 25rem;
        position: absolute;       
        margin: 0 auto;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card { 
        .image-container {       
            width: 45%;       
            float: left;      
        }

        .description {           
            float: left;
            width: 55%;

            .buttons-container {                
                justify-content: start;
            }
        }
    }  
}