@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);

:root {
    --hover-green-color: #569a4a;
    --hover-black-color: #0c0c0c;
    --black-color: #414040;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;  
    font-family: "Raleway";  
    margin: 0;
    padding: 0;    
}

a {
    text-decoration: none; 
    color: black; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h4, p {
    margin: 0;
}

html {    
    background: url("../images/background-image.jpg") no-repeat right bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header, main {  
    max-width: 1200px;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

/*------------- HEADER --------------*/

header {
    position: sticky;
    top: 0;
    display: flex;  
    justify-content: space-between;    
    height: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;  
    background-color: white; 
    z-index: 1;   
    
    .home-link {
        display: block;
        position: relative;
        margin-right: 3rem;

        span {
            position: absolute;
            left: 2.4rem;
            top: 1.2rem;
        }
    }

    .logo {
            width: 3rem;
    }

    .navbar {  
        visibility: hidden;
        position: fixed;
        opacity: 0;        
        left: 0;
        bottom: 100%;        
        width: 100%;
        height: 14.1rem;
        padding: 0;
        margin: 0;
        background-color: white;
        box-shadow: none;
        transform: translateY(0);
        transition: transform 300ms ease-in-out;                   

        .main-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 5rem;
            /* border-top: 1px solid transparent;          */
        } 

        .nav-item {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;  
            padding: 1rem; 
            
            &:hover {                
                border-top: 1px solid var( --hover-green-color);
                border-bottom: 1px solid var( --hover-green-color);
            }            
        }        
    }

    .open-menu-button {       
        cursor: pointer;
        padding: 0;
        border: none;               
        background-color: transparent;    
        z-index: 2;
        
        div {
			width: 32px;
			height: 2px;
			margin: 0.5rem auto;
			background-color: rgb(90, 89, 89);
			transform-origin: center center;
			transform: rotateZ(0) translate(0, 0);
			transition: transform 350ms ease, width 200ms ease;
		}

		&:active > div,
		&.active > div {
			&:nth-of-type(1) {
				transform: rotateZ(45deg) translate(6.5px, 6px);
			}

			&:nth-of-type(2) {
				width: 0;
			}

			&:nth-of-type(3) {
				transform: rotateZ(-45deg) translate(8px, -8px);
			}
		}
    }    
}

.menu-active .navbar {
    visibility: visible;
    opacity: 1;    
    background-color:rgb(251, 251, 251);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);    
    transform: translateY(100%);    
}

@media (min-width: 768px) {
    header {
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr;
        background-color: transparent;
    }

    header .navbar {
        visibility: visible;
        position: relative; 
        display: flex;
        justify-content: center;
        height: 3rem;
        background-color: transparent;
        opacity: 1;
        bottom: unset;                     
        width: 100%;              
    }    

    header .navbar .main-menu { 
        display: flex;       
        flex-direction: row;
        align-items: center;
        margin-top: 0;
        gap: 2rem;
        border-top: none;
    } 

    header .navbar .nav-item {
        width: 100%;
        text-align: center;
        /* text-transform: none; */
        border-bottom: none;
        
         &:hover {                
            border: none;
        } 
    }
    
    .nav-item a {            
            text-decoration-color: transparent;
            text-underline-offset: 8px;         
            transition: all 250ms ease-in-out;
    }

    .nav-item a:focus,
    .nav-item a:hover {
        color: var( --hover-green-color);
        text-decoration-color: var( --hover-green-color);
    }
    
    .nav-item .active {
        text-decoration: underline;          
        text-decoration-color: black;
    } 
    
    .menu-active .navbar {
        background-color: transparent;
    }
}

/*--------------- SEARCH ----------------*/

.search-form {
    visibility: hidden;
    position: fixed;
    top: 8rem;
    left: -15rem;
    width: 15rem;
    padding-left: 2rem;    
    display: flex;
    height: 2.4rem;   
    opacity: 0;  
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
    z-index: 3;   
}

.search-form input {       
    border: 1px solid #c3c2c2;        
    border-right: none;
    padding: .4rem .8rem;
    line-height: 1.2rem;        
    background-color: white; 
    outline: none;     
}

.search-form button {
    width: 100%;
    border: 1px solid #c3c2c2;
    border-left: none;
    background-color: white;

    svg {
        width: 1.5rem;
        height: 100%;
    }
} 

@media (min-width: 768px) {
    .search-form {
        visibility: visible;
        position: relative;
        top: 0;      
        opacity: 1;
        padding: 0;
        transform: translate(100%);
        margin-bottom: 2rem;   
    }
}

/*---------------------------- MAIN -----------------------------*/

main {
    min-height: calc(100vh - 8rem);
    padding-top: 7rem;
}

/* .open-filter-button, */
.add-product-link,
.add-category-link {
    display: block;
    position: absolute;
    top: -4rem;
    right: 0;     
    background: none;   
    border: solid 1px transparent;
    padding: .5rem 0;          
    color: #515151;    
    text-align: center;
    width: 10rem;
    font-family: inherit; 
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 16px;

    &:hover {                
        border: 1px solid var( --hover-green-color);
        color: var( --hover-green-color);       
    }
}

.open-filter-button {
    cursor: pointer;
    position: absolute;
    top: -4.2rem;
    left: 0;
    width: 3rem;   
    border: solid 1px transparent;
    padding: .5rem; 
    transition: all 0.3s ease; 

    &:hover {                
        border: 1px solid var( --hover-green-color);
        color: var( --hover-green-color);       
    }
}

/*---------------------------PRODUCTS------------------------------*/

.products-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}

.products-list {
    position: relative;
    display: grid;
    grid-template-rows: min-content;   
    gap: 1rem;      
}

.products-list li { 
    display: grid; 
    grid-template-columns: auto 1fr 9.2rem;
    width: 100%;    
    background: rgb(251, 251, 251);
    padding: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s;

     &:hover {      
        box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);    
    }

    .image-container {
        margin-right: 1rem;
        width: 4rem;

        img {
            width: 100%;
            height: 100%;        
        }
    }
    
    .middle-div {
        display: grid;
        grid-template-rows: auto 1fr auto;
        padding-right: 1.5rem;

        p {
            text-transform: lowercase;
        }               
    }

    .right-div {
        display: grid;
        justify-content: end;
        align-content: space-between ;
    }

    h1 {
        color: #515151;
        font-weight: 300;       
        font-size: 1.2rem;
        font-weight: 300;
    }

    h2 {
        color: #515151;          
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 500;      
        border-bottom: 1px solid #efefef;
    }

    h4 { 
        justify-self: end;
        margin: 0;
        color: #727272;          
        font-weight: 500;
        font-size: .75rem;       
    }

    p { 
        font-size: .75rem; 
        line-height: 1.25rem;
        color: #727272;       
    }
}

@media (min-width: 768px) {
    .products-container {
        grid-template-columns: auto 1fr min-content;
    } 
    
    .products-list {
        grid-auto-rows: min-content; 
    }
}

/*--------------------- PRODUCT DETAILS --------------------------*/
  
.card {    
    background: rgb(251, 251, 251);    
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s;

    &:hover {      
        box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);    
    }

    .nav-div {
        width: 100%;
        text-transform: uppercase;
        padding: 1.2rem;
        border-bottom: 2px solid #efefef;
        font-size: .75rem;      

        svg.arrow {
            float: left;
            height: 1rem;
            width: 1rem;
            margin-top: -1px;
            margin-right: 10px;
        }
    }

    a {
        color: #727272;

        &:hover {          
            color: rgb(50, 49, 49);                     
        }
    }

    .image-container {
        padding: 1.8rem;       
        text-align: center;

        img { 
            max-height: 15rem; 
        }
    }

    .description {
        padding: 1.8rem;        
        border-left: 2px solid #efefef;

        h1 {
            color: #515151;
            font-weight: 300;
            padding: 1rem 0;           
            font-size: 1.8rem;
            font-weight: 300;
        }

        h2 {
            color: #515151;          
            text-transform: uppercase;
            font-weight: 500;
        }

        h4 { 
            margin: 0;
            color: #727272;          
            font-weight: 500;
            font-size: .75rem;
        }

        p { 
            font-size: .75rem; 
            line-height: 1.2rem;
            color: #727272;
            margin-bottom: 1rem;
        }

        .buttons-container {
            display: flex;
            justify-content: space-between;           
        }

        button {
            cursor: pointer;
            outline: 0;
            border: 0;
            background: none;
            border: 1px solid #d9d9d9;
            padding: .5rem 0;          
            color: #515151;
            text-transform: uppercase;
            width: 7.8rem;
            font-family: inherit;
            margin-right: .3rem;
            transition: all 0.3s ease;
            font-weight: 500;

            &:hover {                
                border: 1px solidvar( --hover-green-color);;
                color: var( --hover-green-color);              
            }
        }
    }
}

/*------------------------ PRODUCT FORM -------------------------------*/

.product-form-container {
    position: relative;
    padding: 2rem 1rem;
    background: rgb(251, 251, 251);    
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    h1 {
        position: absolute;
        padding: 0;
        top: -3rem;
        color: #515151;
        font-weight: 300;                   
        font-size: 1.8rem;
        font-weight: 300;
    }

    .product-form {
        input,
        textarea,
        select {
            width: 100%;
            border: 1px solid #c3c2c2;
            padding: .4rem;
            line-height: 1.2rem;
            margin-bottom: 1.4rem;
            background-color: white;
            font-family: inherit;
        }
        
        input:focus,
        textarea:focus,
        select:focus {
            outline: 1px solid #aedaa6;                     
        }
        
        label {
            color: rgb(92, 93, 92);
        }

        .form-group {
            position: relative;
        }

        .form-group label {
            position: absolute;
            top:-1rem;
            left:.4rem;
            font-size: .75rem;            
        }

        div {
            display: flex;
            width: 100%;
            gap: 1rem;
        }
        
        span {
            position: absolute;
            top: -4px;
            right: -8px;
            color: red;
            font-size: 20px;           
        }
    }

    .buttons-container {
        display: flex; 
        justify-content: space-between;      

        button {
            cursor: pointer;
            outline: 0;
            border: 0;
            background: none;
            border: 1px solid #d9d9d9;
            padding: .5rem 0;          
            color: #515151;
            text-transform: uppercase;
            width: 7.8rem;
            font-family: inherit;
            margin-right: .3rem;
            transition: all 0.3s ease;
            font-weight: 500;

            &:hover {                
                border: 1px solid #aedaa6;
                color: #aedaa6;             
            }
        }
    }
}

/*------------------------ FILTER DESKTOP --------------------------*/

.filter {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 19rem;
    padding: 13rem 2rem 0 2rem;  
    left:  -19rem;
    height: 100vh;    
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transform: translateX(0);
    transition: transform 300ms ease-in-out;

    .filter-section {
        margin-bottom: 2.5rem;
    }        

    h2 {
        color: #323131;          
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 300;           
        margin-bottom: 1rem;
    } 

    input,
    label {
        cursor: pointer;
        color: var(--black-color);
         &:hover {
            color: var(--hover-black-color);
        }
    }

    .form-group {
        position: relative;
        display: flex;
        align-items: center;
        padding: .2rem .4rem;
        margin-bottom: .5rem;
        
        input[type=checkbox],
        input[type=radio] {           
            accent-color: rgb(64, 122, 37);
        }
    }        
    
    .category-filter-section {
        position: relative;
        padding-bottom: 1.9rem;

        label {
            cursor: pointer;
            padding-left: 1.3rem;
        }
        
        input[type=checkbox] {
            position: absolute;
            bottom: 3px;             
        }

        .no-category {
            position: absolute;
            bottom: 0;
            padding-top: .1rem;                
            border-top: 1px solid #fbfafa;

            input {
                bottom: 2px;
            }

            .category-name {
                text-transform: none;
            }               
        }
    }  
}

.close-filter {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;   

    input[type=submit] {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url('/images/close.svg');
        background-position: 0px 0px;
        background-repeat: no-repeat;      
        width: 2.5rem;
        height: 2.5rem;
        opacity: .5;      
        border: none;
        color: transparent;  
        background-color: transparent;

        &:hover {
            opacity: .8;
        }
    }

    span {
        font-size: 2rem;
    }
}

.filter-active {
    visibility: visible;
    height: 100%;  
    opacity: 1;
    z-index: 1;
    transform: translateX(100%);
}

.search-form-active {
    visibility: visible;  
    opacity: 1; 
    transform: translateX(100%);  
} 

@media (min-width: 768px) {
    .filter {
        visibility: visible;        
        position: relative; 
        height: 100%;       
        padding: 0;      
        background-color: transparent;
        box-shadow: none;
        transform: translateX(100%);        
    }

    .filter-section {
        margin-bottom: 2rem;
    }

    h2 {
        margin-bottom: .5rem;
    }

    .form-group {      
        padding: .2rem .4rem;
        margin-bottom: 0;       
    } 

    .close-filter,
    .open-filter-button {
        display: none;
    }
}

/*------------------------ CATEGORIES ------------------------*/

.categories-list {
    position: relative;
    display: grid;   
    gap: 1rem;      
}

.categories-list li { 
    display: grid; 
    grid-template-columns: 1fr auto;  
    background: rgb(251, 251, 251);
    padding: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s;  

    h2 {
        color: #515151;          
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 500;      
        border-bottom: 1px solid #efefef;
        margin-bottom: 1rem;
    }   

    p { 
        font-size: .75rem; 
        line-height: 1.25rem;
        color: #727272; 
        margin-bottom: .5rem;      
    }

    input[type=radio] {
        visibility: hidden;      
    }

    label {
        cursor: pointer;
        text-transform: uppercase;
        margin-bottom: 1rem;        
        color: var(--black-color);

        &:hover {
            color: var(--hover-green-color);
        }

        span {
            font-size: 1.4rem;
        }
    }

    .buttons-container {
        display: flex;           
    }

    button {
        cursor: pointer;
        width: 1.8rem;      
        border: none;
        background: none;      
        margin-left: 1rem;      

        img {
            width: 100%;
        }       

        &:hover {           
            opacity: 1;            
        }
    }

    .edit-button {
        opacity: .4;
    }

    .delete-button {
        opacity: .6;
    }
}

@media (min-width: 768px) {
    .categories-list {      
        max-width: 40rem;
        margin: auto;
    }
    
    .categories-list li {
        padding: 1rem;        

        .edit-button,
        .delete-button {
            display: none;
        }

        &:hover {
            .edit-button,
            .delete-button {
                width: 2rem;
                display: block;
            }
        }
    }
}

/*------------------------ FOOTER --------------------------*/

footer {
    text-align: center;
    height: 3rem;
}

/*--------------------- MEDIA DESKTOP ----------------------*/

@media (min-width: 768px) {
    header .open-menu-button {
        display: none;
    }

    .card,
    .product-form-container {
        width: 40rem;
        height: 25rem;       
        margin: 4rem auto 0;        
    }

    .card { 
        .image-container {       
            width: 45%;       
            float: left;      
        }

        .description {           
            float: left;
            width: 55%;

            .buttons-container {                
                justify-content: start;
            }
        }
    }  
}

@media (min-width: 1200px) {
    header, main {
        margin-left: auto;
        margin-right: auto;
    }
  
}