* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows:auto 1fr auto;  
    margin: 0;
    padding: 0;    
}

a {
    text-decoration: none; 
    color: black; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html {    
    background: url("../images/background-image.jpg") no-repeat right bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    min-height: 50px; 
}

.navbar {   
    display: flex;
    align-items: center;
    justify-content:space-between
}

.navbar ul {   
    display: flex;
    gap: 2rem;
}

footer {
    text-align: center;
    min-height: 50px;
}